/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
    color: #343a40;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}